* {
    margin: 0;
    padding: 0;
}
body{
    overflow: hidden;/* 去掉浏览器原来的滚动条 */
}
#box{
    width: 100%;
    height: 630px;
    background: url("../images/bg.jpg");
    position: relative;
}
.img{
    width: 8634px;
    height: 360px;
    position: absolute;
    z-index: 1;
}
img{
    float: left;
}
.nav{
    width: 100%;
    height: 240px;
    background: url("../images/navbg.jpg");
    position: absolute;
    bottom: 0;
}
.moveBar{
    width: 572px;
    height: 10px;
    background: url("../images/scrollbar.png");
    position: absolute;
    bottom: 60px;
    left: 50%;
    margin-left: -286px;
    border-radius: 10px;
}
.moveBar .move{
    width: 48px;
    height: 10px;
    background-color: #FFF;
    border-radius: 10px;
    position: absolute;
}