*{
    margin: 0;
    padding: 0;
}
body{
    min-width: 1000px;
    height: 100%;
    position: relative;
    z-index: 0;
}
.wrapper{
    height: 100%;
}
/* position: fixed;background-size: cover;放在body上不好用（以下方法放在body上不好用）  */
.bg{
    position: fixed; /* 图片全屏覆盖的关键 */
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    min-width: 1000px;
    background: url("../images/bg0.jpg");
    background-position: center 0;
    background-repeat: no-repeat;
    background-size: cover;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    -o-background-size: cover;
}
.header{
    width: 100%;
    height: 0px;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #FFF;
    border-top: 1px solid #ddd;
    display: none;
}
.menu{
    width: 100%;
    height: 45px;
    border-bottom: 1px solid #ddd;
}
.title{
    width: 910px;
    height: 45px;
    margin: 0 auto;
}
.title .p1{
    width: 571px;
    height: 45px;
    float: left;
    background: url("../images/tj.png") center no-repeat;
    cursor: pointer;
}
.title .p2{
    width: 45px;
    height: 45px;
    float: right;
    background: url("../images/sq.png") center no-repeat;
    cursor: pointer;
}
/*  展示换肤小块列表 */
.bgli{
    width: 910px;
    height: 205px;
    margin: 25px auto;
}
.bgcon{
    width: 590px;
    height: 190px;
    float: left;
}
.bgcon img{
    width: 97px;
    height: 59px;
    float: left;
    margin-right: 1px;
    margin-bottom: 1px;
    cursor: pointer;
}
.bgcon .big{
    width: 195px;
    height: 119px;
}
.bgcon .last{
    margin-top: -59px;
}
.conyl{
    width: 264px;
    height: 180px;
    float: right;
    background: url("../images/0.jpg") center no-repeat;
    background-size: cover;
}

.con{
    width: 900px;
    height: 320px;
    margin: 272px auto;
}
span{
    color: #FFF;
    cursor: pointer;
}

